# --- CONFIGURAZIONE DATABASE POSTGRES ---
DB_NAME=PlayNode_db
DB_USER=admin
DB_PASSWORD=inserisci_qui_la_tua_password_locale
DB_PORT=5435

# --- CONFIGURAZIONE MQTT (MOSQUITTO) ---
MQTT_PORT=1883
MQTT_WS_PORT=9001

# --- SICUREZZA E JWT ---
# Chiave segreta per la firma dei Token JWT (deve superare i 256 bit)
JWT_SECRET=inserisci_qui_la_tua_chiave_segreta_lunghissima

# Tempo di scadenza del token in millisecondi (1 ora)
JWT_EXPIRATION=3600000

# --- CORS ---
# Indirizzi autorizzati
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,http://localhost:63342,http://localhost:5173,http://localhost:4200,http://127.0.0.1:5500