# ISTRUZIONI:
# Copia questo file, rinominalo in '.env' e inserisci i tuoi valori locali.

# --- CONFIGURAZIONE DATABASE POSTGRES ---
DB_NAME=PlayNode_db
DB_USER=admin
DB_PASSWORD=inserisci_qui_la_tua_password_locale
DB_PORT=5432

# --- CONFIGURAZIONE MQTT (MOSQUITTO) ---
MQTT_PORT=1883
MQTT_WS_PORT=9001

# --- CONFIGURAZIONE SPRING BOOT (APP) ---
APP_PORT=8080